<div class="message">
  <p><%= message.content %></p>
  <div class="message-autor">
    <p style="display: inline-block;"><%= message.user.username %></p>
    <% if message.user_id == current_user.id %>
      <%= link_to edit_subject_message_path(@subject,message) do %>
        <i style="display: inline-block;" class="fa fa-pencil"></i>
      <% end %>
      <%= link_to subject_message_path(@subject, message), method: :delete, remote: true do %>
        <i style="display: inline-block;" class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>
