<div class="container">
  <h1>Edit Message</h1>
  <%= simple_form_for [@subject, @message] do |f| %>
    <%= f.error_notification %>

    <%= f.input :content, label: "Content", as: :text %>
    <%= f.button :submit %>
  <% end %>
</div>
