<div class="container">
  <h1>List of subjects</h1>

  <% @subjects.each do |subject| %>
    <div class="subject">
      <p><%= subject.title %></p>
      <p><%= subject.content %></p>
      <%= link_to edit_subject_path(subject) do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    </div>
  <% end %>
</div>
