.navbar-reddit {
  height: 80px;
  background-color: #46B7B9;
  position: relative;
}

.navbar-logo img {
  width: 100px;
  position: absolute;
  left: 20px;
  top: 18px;
}

.navbar-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 50px;
}

.navbar-link {
  padding-right: 10px;
  &:hover {
    text-decoration: none;
  }
}
